<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Import header -->
<head th:replace="layout :: head (title='Role management')"></head>

<body onload="initPage()">
<script type="text/javascript">
    function initPage(){
        var options = {
            valueNames: [ 'name']
        };

        var roleList = new List('role-list', options);
    }

</script>
<div class="container">

    <!-- Import menu bar -->
    <div th:replace="layout :: navbar"></div>

    <div class="content">

        <div id="role-list">
            <input class="search" placeholder="Search" />
            <table class="table table-hover">
                <thead>
                <tr>
                    <th th:text="#{name}">Name</th>
                    <th></th>
                </tr>
                </thead>
                <!-- IMPORTANT, class="list" have to be at tbody -->
                <tbody class="list">
                <tr th:each="role : ${allRoles}">
                    <td class="name" th:value="${role}" th:text="${role.name}">Rolename</td>
                    <td>
                        <a th:href="@{/roles/{id}/(id=${role.id})}"><span class="glyphicon glyphicon-edit"></span></a>&nbsp;
                        <a th:href="@{/roles/{id}/delete(id=${role.id})}"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <a href="/roles/put" class="btn btn-primary" th:text="#{create.role}">Create role</a>
        </div>

    </div>
</div>
</body>
</html>